apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-ingress
  namespace: argocd
  annotations:
    kubernetes.io/ingress.class: "external-nginx"
    cert-manager.io/cluster-issuer: http-01-production
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/allow-http: "true"  # allow HTTP for ACME challenge
spec:
  ingressClassName: external-nginx
  tls:
  - hosts:
    - argocd.floracloudtech.online 
    secretName: argocd-floracloudtech-online
  rules:
  - host: argocd.floracloudtech.online 
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              number: 80






